[submodule "go-ethereum"]
	path = go-ethereum
	url = git://github.com/lagoon0o0/go-ethereum
[submodule "TesseractContracts"]
	path = TesseractContracts
	url = git@github.com:lagoon0o0/TesseractContracts.git
	branch = master
